<div style="margin: 20px;">
  <h1>Catálogo de Motos</h1>


  <!-- Tabla de motos -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moto of motos; trackBy: trackByMoto">
          <td>{{ moto.modelo }}</td>
          <td>{{ moto.precio | currency:'USD' }}</td>
          <td>
            <button type="button" class="btn btn-warning" (click)="selectMoto(moto)">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>

  <ng-template #noMotos>
    <h3>No hay motos en el catálogo</h3>
  </ng-template>

  <!-- Formulario para agregar/modificar motos -->
  <div class="mt-4">
    <h3>{{ moto.id ? 'Modificar Moto' : 'Agregar Moto' }}</h3>
    <div class="mb-3">
      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" [(ngModel)]="moto.modelo" class="form-control">
    </div>
    <div class="mb-3">
      <label for="precio">Precio:</label>
      <input type="number" id="precio" [(ngModel)]="moto.precio" class="form-control">
    </div>

    <div>
      <button type="button" class="btn btn-primary me-2" (click)="insertarMoto()">Agregar Moto</button>
      <button type="button" class="btn btn-success" (click)="UpdateMoto()">Modificar Moto</button>
      <button type="button" class="btn btn-danger" (click)="this.deleteMoto()">Eliminar</button>
    </div>
  </div>
</div>

