<div class="container mt-4 text-center">
    <h1>Acerca de Mí</h1>
  
    <div class="profile-section mt-4">
        <img src="https://avatars.githubusercontent.com/u/147963544?s=400&u=4eea1128c9297978b94c8b47f904883b44153e05&v=4" alt="Jesús Felipe Garibay Urías" class="profile-img">
      <h2>Jesús Felipe Garibay Urías</h2>
      <p>23 años | Nacido el 17 de abril de 2001</p>
    </div>
  
    <hr />
  
    <h2>Mi Historia</h2>
    <p>Soy originario de <strong>Mazatlán, Sinaloa</strong>, pero a lo largo de mi vida he tenido la oportunidad de vivir en distintos lugares de México, incluyendo <strong>Hidalgo, San Luis Potosí, Morelos</strong> y actualmente en <strong>San Juan del Río, Querétaro</strong>.</p>
  
    <hr />
  
    <h2>Mis Pasiones</h2>
    <p>Me encantan los <strong>deportes</strong> y la <strong>música</strong>. Toco varios instrumentos y disfruto componer y tocar en mis tiempos libres. También me interesa la tecnología y el desarrollo de software, lo que me llevó a estudiar esta carrera.</p>
  
    <hr />
  
    <h2>Datos Curiosos</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Soy fanático del café, siempre me acompaña en mis proyectos.</li>
      <li class="list-group-item">Me gusta viajar y conocer nuevos lugares.</li>
      <li class="list-group-item">Disfruto los retos de logicos y Quizzes</li>
    </ul>
  </div>
  